extends ../index.pug
block content
  .container
    .py-5.text-center
      h1= message
      p.lead
        | To get the video thumbnail of any YouTube Video enter the regular ID of the video into the textbox below.
    .row.justify-content-center
      .col-md-5
        form(action="/result/create" method="post")
          .mb-3.row
            label.form-label(for='youtubeId') YouTube id
            input#youtubeId.form-control(
              type="text"
              name="youtubeId"
              placeholder="BonLyarPpqE"
            )
            #emailHelp.form-text Enter YouTube id
          .justify-content-center.row
            button.btn.btn-primary(type='submit') Submit
