extends ../index.pug
block content
  .container
    .py-5.text-center
      figure.figure
        figcaption.figure-caption Your video preview
        img.mb5.figure-img.img-fluid.rounded(src=`/${url}` alt="")
        pre= `${hostname}/${url}`
    .row
      a(href="/") < Back
